body{
	height:100%;
	width:100%;
	// background:$color-bg;
}
html {
       overflow-y: scroll;
}

input, textarea, button {
    &:focus { outline: none; }
    -webkit-border-radius: 0;
}

button, select {
    cursor: pointer;
}

a {
    color: $color-text;
    text-decoration: none;
}

img {
    @include transition(opacity 0.3 ease);
}
.container {
	position:relative;
	.wrapper{
		position:absolute;
		left:0px;
		top:0px;
		width:90px;
		height:100%;
		background:$color-bg;
	}
}
canvas { 
	background:url(../images/lydianichols-header.jpg)  no-repeat; 
	background-size:cover;
	position:relative;
}