body{
	height:100%;
	width:100%;
	// background:$color-bg;
}
html {
       overflow-y: scroll;
}

input, textarea, button {
    &:focus { outline: none; }
    -webkit-border-radius: 0;
}

button, select {
    cursor: pointer;
}

a {
    color: $color-text;
    text-decoration: none;
}

img {
    @include transition(opacity 0.3 ease);
}
.container { min-width:320px;
	position:relative;
	.wrapper{
		position:absolute;
		left:0px;
		top:0px;
		width:100%;
		height:auto;
		background:$color-bg;
		-webkit-box-shadow: 4px 1px 13px 0px rgba(52, 50, 50, 0.55);
		-moz-box-shadow:    4px 1px 13px 0px rgba(52, 50, 50, 0.55);
		box-shadow:         4px 1px 13px 0px rgba(52, 50, 50, 0.55);
		border-right: 1px solid #3a3a3a;
		z-index:2;
		margin-top:-292px;
		-webkit-transition: margin 225ms ease-in 0ms;
		-moz-transition: margin 225ms ease-in 0ms;
		-o-transition: margin 225ms ease-in 0ms;
		transition: margin 225ms ease-in 0ms;
		&.open {
			margin-top:0px;
			-webkit-transition: margin 225ms ease-in 0ms;
			-moz-transition: margin 225ms ease-in 0ms;
			-o-transition: margin 225ms ease-in 0ms;
			transition: margin 225ms ease-in 0ms;
		}
	}
	h1 { 
		@include hide-text;
		background: $color-draft url(../images/dnd_logo.svg) 24px 8px no-repeat;
		height:90px;
		width:90px;
		bottom:-90px;
		left:50%;
		margin-left:-45px;
		cursor:pointer;
		position:absolute;

	}
	ul.size-controls{ @include clearfix;
		li { 
			border-bottom:1px solid white;
			cursor:pointer;
			height: 55px;
			position:relative;
			width:25%;
			box-sizing: border-box;
			border-left:1px solid white;
			float:left;
			&:after {
				content: '';
				background-color:$color-draft; 
				display:block;
				position:absolute;
				top:50%;
				left:50%;

			}
			&:first-child {
				border-left:none;
			}
		}

		li:nth-child(4n+1){
			&:after {
				height:20px;
				width:62px;
				margin-top:-10px;
				margin-left:-31px;
			}
				
		}
		li:nth-child(4n+2){
			&:after {
				height:14px;
				width:40px;
				margin-top:-7px;
				margin-left:-20px;
			}
		}
		li:nth-child(4n+3){
			&:after {
				height:8px;
				width:24px;
				margin-top:-4px;
				margin-left:-12px;
			}
		}
		li:nth-child(4n+4){
			&:after {
				height:4px;
				width:14px;
				margin-top:-2px;
				margin-left:-7px;
			}	
		}
	}
}
ul.main-controls{ @include clearfix;
	li{
		font-family: 'Lato', sans-serif;
		font-weight:300;
		color:white;
		text-align:center;
		line-height:50px;
		letter-spacing:1px;
		cursor:pointer;
		border-bottom:1px solid white;
		border-left:1px solid white;
		float:left;
		width:33%;
		&:first-child, &:nth-child(5n+4) { border-left:none; }
	}
}
ul.color-controls{ @include clearfix;
	$color-block:#dbd8c7, #7a8080, #d07666, #33414d, #a36579, #ffffff;
	li { 
		width:50%;
		height:45px;
		float:left;
		@include hide-text;
		padding:0px;
		margin:0px;
		cursor:pointer;
	}
	@for $i from 1 through length($color-block) {
    li:nth-child(#{length($color-block)}n+#{$i}) {
        background: nth($color-block, $i)
    }
}
}

canvas { 
	background:url(../images/blank_chalkboard.png)  repeat; 
	background-size:cover;
	position:relative;
	z-index:1;

}
