<!--  canvas wrap section -->
<canvas class="something" ng-controller="MainCtrl" ng-style="style()" resize></canvas>
  <!-- main app wrapper -->
  <div class="wrapper">

    <!-- selection sidebar -->
    <aside class="selection-sidebar">
      <h1><a ng-href="#">draft and draw - drawing tool</a></h1>

      <ul class="size-controls">
        <li><a ng-href="#">Biggest</a></li>
        <li><a ng-href="#">Big</a></li>
        <li><a ng-href="#">Medium</a></li>
        <li><a ng-href="#">Small</a></li>
      </ul>
      <ul class="main-controls">
        <li><a ng-href="#">Pencils</a></li>
        <li><a ng-href="#">Erasers</a></li>
        <li><a ng-href="#">Save</a></li>
        <li><a ng-href="#">Grayscale</a></li>
        <li><a ng-href="#">Magic</a></li>
      </ul>
      <ul class="color-controls">
        <li><a ng-href="#">bage</a></li>
        <li><a ng-href="#">gray</a></li>
        <li><a ng-href="#">orange</a></li>
        <li><a ng-href="#">green</a></li>
        <li><a ng-href="#">red</a></li>
        <li><a ng-href="#">white</a></li>
      </ul>
    </aside>
    <section class="img-wrapper">

    </section>
  </div><!-- wrapper -->
