<!--  canvas wrap section -->
  <!-- main app wrapper -->
  <div class="wrapper">

    <!-- selection sidebar -->
    <aside class="selection-sidebar">
      
      <ul class="size-controls">
        <li ng-click="controls('radius','10')">Biggest</li>
        <li ng-click="controls('radius','5')">Big</li>
        <li ng-click="controls('radius','3')">Medium</li>
        <li ng-click="controls('radius','1')">Small</li>
      </ul>
      <ul class="main-controls">
        <li ng-click="controls('pencil', '')">Pencil</li>
        <li ng-click="controls('eraser', '')">Eraser</li>
        <li ng-click="controls('save', '')">Save</li>
        <li ng-click="controls('clear', '')">Clear</li>
        <li ng-click="controls('draw', '')">Redraw</li>
        <li ng-click="controls('magic', '')">Magic</li>
      </ul>
      <ul class="color-controls">
        <li ng-click="controls('color','#dbd8c7')">bage</li>
        <li ng-click="controls('color','#7a8080')">gray</li>
        <li ng-click="controls('color','#d07666')">orange</li>
        <li ng-click="controls('color','#33414d')">green</li>
        <li ng-click="controls('color','#a36579')">red</li>
        <li ng-click="controls('color','#ffffff')">white</li>
      </ul>
      <h1>draft and draw - drawing tool</h1>
    </aside>
  </div><!-- wrapper -->
